<!DOCTYPE html>
<html>
<head>
    <title>My reports</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

</head>
<body class="myreports">
<header class="navbar">
    <a class="brand"  href="/" title="home page">Weekly Report</a>
    <ul class="nav">
        <li ><a href="/write">This week</a></li>
        <li ><a href="/show">My reports</a></li>
        {{#if hasSubordinate}}
        <li ><a href="/showsubordinate">My teams'</a></li>
        {{/if}}
        <li ><a href="/password">Setting</a></li>
        {{#if isAdmin}}
        <li ><a href="/admin">Control panel</a></li>
        {{/if}}
        {{#if isLoginUser}}
        <li ><a href="/logout">Logout</a></li>
        {{/if}}
    </ul>
</header>
<div id="dialog-confirm" title="Edit report" style="display:none">
    <p>Are you sure to delete the report?</p>
	<label for="dateTxt">Date:</label>
	<input readonly id="dateTxt" type="text" required="required"
        data-bind="value:dateTxt, valueUpdate:'keyup'"/>
				
	<label for="content">Content:</label>
    <textarea id="content" rows="6" cols="30"  required="required"
        placeholder="Here is your daily report...">
	    
	</textarea>	
		
</div>
<section class="container">
    <article id="reportList" >
        <ul class="unstyled" data-bind="foreach: reports">
            <li class="report">
                <p class="date"><i class="icon-user"></i><span data-bind="text: date"></span></p>
                <div class="content" data-bind="html: content"></div>
                <!-- <p class="btn btn-link reply" data-bind="attr: {reportId: id}">reply</p> -->
				
            </li>
        </ul>
        <div class="pagination" data-bind="if: pageNum() > 1">
            <button class="btn btn-mini pagePre" title="上一页"
                    data-bind="visible: currentPage()>1">&lt;&lt;</button>
            <span data-bind="text: currentPage() + '/' + pageNum()"></span>
            <button class="btn btn-mini pageNext" title="下一页"
                    data-bind="visible: currentPage() < pageNum()">&gt;&gt;</button>
        </div>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/indexReportBase.js'></script>
<script type="text/javascript" src='/js/indexReports.js'></script>



</body>
</html>