<!DOCTYPE html>
<html>
<head>
    <title>Setting</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
</head>
<body class="passoword">
<header class="navbar">
    <a class="brand" href="/" title="home page">Weekly Report</a>
    <ul class="nav">
        <li><a href="/write">This Week</a></li>
        <li><a href="/show">My reports</a></li>
        {{#if hasSubordinate}}
        <li><a href="/showsubordinate">My teams'</a></li>
        {{/if}}
        <li class="active"><a href="#">Setting</a></li>
        {{#if isAdmin}}
        <li><a href="/admin">Control panel</a></li>
        {{/if}}
        {{#if isLoginUser}}
        <li><a href="/logout">Logout</a></li>
        {{/if}}
    </ul>
</header>
<section class="container">
    <div class="title"> <i class="icon-pencil"></i><h1>Password</h1></div>
    <article id="changPassword">
        <label for="oldpassword">Current:
            <!--<span data-bind="css:{errorTip: !validOldPassword()}, visible: !validOldPassword()">Too short</span>--></label>
        <input type="password" required="required" name="password" id="oldpassword"
               data-bind="value:oldpassword, valueUpdate:'keyup'"/>

        <label for="newpassword">New:
            <!--<span data-bind="css:{errorTip: !validNewPassword()}, visible: !validNewPassword()">Too short</span>--></label>
        <input type="password" required="required" name="password" id="newpassword"
               data-bind="value:newpassword, valueUpdate:'keyup'"/>

        <label for="renewpassword">Re-type new:
            <span data-bind="css:{errorTip: !validRePassword()}, visible: !validRePassword()">Don't match</span></label>
        <input type="password" required="required" name="repassword" id="renewpassword"
               data-bind="value:renewpassword, valueUpdate:'keyup'"/>

        <div><input id="reportSubmitBtn" type="button" value="Save Changes" class="btn btn-primary"
                    data-bind="click:submit, enable:valid()"/></div>
        <p id="successTip">Password change successfully！</p>
        <p id="passwordErrorTip">Current password was incorrect！</p>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/admin/DepartmentUserMode.js'></script>
<script type="text/javascript" src='/js/password.js'></script>
</body>
</html>